!!! 5
html
  head
    title unfiltered-scalate
    :css
      .hello { font-color: #f66; }
  body
    #container
      h1 Instagram Viewer
      .login
        a#login(href="/oauth/connect") Connect with Instagram
